@import "./variables.scss";

@import url("https://fonts.googleapis.com/css?family=Lora:400,700&display=swap");

.header-index {
  background-color: $medium-blue;
  color: white;
  position: relative;
  height: 100vh;

  h2 {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 3.5rem;
    z-index: 1;
    padding: 2rem;
    position: relative;
    width: 350px;
    margin: 0 auto;
    top: 16%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    position: absolute;
    z-index: 0;
    opacity: 0.3;
    top: 0;
  }

  .img-desktop-header {
    display: none;
  }
}

.section-index {
  background-color: white;
  padding: 3rem;
  position: relative;
  height: 600px;
  max-width: 900px;

  .title {
    color: $deep-blue;

    p:first-of-type {
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.5rem;
      padding: 1.5rem 0;
      font-weight: 600;
      line-height: 2.5rem;
    }
  }

  .text {
    padding: 2rem 0;

    p {
      line-height: 2rem;
      padding-right: 1rem;
    }
  }

  .book-action {
    padding: 1rem 0;

    a {
      cursor: pointer;
      color: $deep-blue;
      width: 208px;
      height: 56px;
      border: 2px solid $deep-blue;
      padding: 0.7rem 1rem;
    }
  }
}

.image-section {
  width: 100%;
  padding: 5rem 0;

  img {
    width: 100%;
  }
}

.secondary-image-section {
  display: none;

  img {
    width: 100%;
  }
}

/* .bg-image {
  width: 250px;
  height: 110px;
  position: relative;
  background-color: white;
  bottom: 165px;
  left: 50%;
  margin-left: -125px;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 #00000030;
  z-index: 1;
}

.bg-image-small {
  width: 200px;
  height: 120px;
  position: relative;
  background-color: white;
  left: 50%;
  bottom: 275px;
  margin-left: -100px;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 #00000030;
  z-index: 0;
} */

@media only screen and (max-width: 350px) {
  .header-index {
    h2 {
      font-size: 1.3rem;
      width: 300px;
    }
  }
}

@media only screen and (min-width: 750px) {
  .header-index {
    h2 {
      line-height: 5rem;
      top: 35%;
      font-size: 2rem;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }

    .img-desktop-header {
      display: initial;
    }

    .img-mobile-header {
      display: none;
    }
  }

  .section-index {
    padding: 5rem;
    background: #edf1f5;
    background-color: #edf1f5;
    position: relative;
    height: 750px;
    max-width: 900px;
  }

  .image-section {
    width: 75%;
    max-width: 900px;
    padding: 4rem;
    margin: 0 auto;
    background: white;
    position: relative;
    bottom: 140px;
  }
}

/* @media only screen and (min-width: 1300px) {
  .section-index {
    margin-left: 150px;
  }

  .image-section {
    bottom: 200px;
    left: 250px;
  }
} */

@media only screen and (min-width: 1300px) {
  .section-index {
    margin: 0 auto 0 20%;
  }

  .image-section {
    left: 300px;
  }

  .image-section {
    width: 75%;
    max-width: 1000px;
  }
}

@media only screen and (min-width: 2000px) {
  .secondary-image-section {
    width: 1000px;
    background: white;
    right: 600px;
    position: absolute;
    display: initial;
    padding: 4rem;
    bottom: 350px;

    img {
      width: 100%;
    }
  }
}
